@use "../mixins/media.scss" as m;
@use "../common/variables.scss" as v;

.header {
  padding-top: 20px;
  padding-bottom: 4px;
  overflow: hidden;

  @include m.tablet {
    padding-top: 32px;
  }
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__logo {
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: v.$white-basic;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav {
  max-width: calc(100% - 30px);
  width: 100%;
  position: absolute;
  right: 15px;
  top: calc(100% + 4px);
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: -1;
}

.header__nav--active {
  opacity: 1;
  z-index: 15;
  transform: translateX(0%);
}

.header__menu-toggle {
  position: absolute;
  right: 15px;
  top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  width: 136px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
  text-align: left;
  border-radius: 30px;
  border: 1px solid v.$primary-color;
  padding: 3px;
  padding-left: 21px;
  color: v.$primary-color;
  text-transform: uppercase;
  background-color: v.$white-basic;
  transition: color 0.3s ease, background-color 0.3s ease, width 0.3s ease;

  @include m.tablet {
    right: 45px;
  }
}

.header__menu-toggle--active {
  width: calc(100% - 30px);
  background-color: v.$primary-color;
  color: v.$white-basic;
  z-index: 15;
}

.header__menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: v.$primary-color;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.header__menu-line,
.header__menu-line::before,
.header__menu-line::after {
  display: block;
  height: 1px;
  width: 18px;
  background-color: v.$white-basic;
}

.header__menu-line {
  transition: background-color 0.3s ease;

  &::before,
  &::after {
    content: "";
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  &::before {
    transform: translateY(-4px);
  }

  &::after {
    transform: translateY(3px);
  }
}

.header__menu-toggle--active .header__menu-icon {
  background-color: v.$white-basic;
}

.header__menu-toggle--active .header__menu-line {
  background-color: transparent;
}

.header__menu-toggle--active .header__menu-line::after,
.header__menu-toggle--active .header__menu-line::before {
  background-color: v.$primary-color;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.header__menu-toggle--active .header__menu-line::after {
  transform: rotate(45deg) translateY(-1px);
}

.header__menu-toggle--active .header__menu-line::before {
  transform: rotate(-45deg) translateY(0);
}


